# dist
/dist/

# node_modules
/node_modules/

# tsconfig.json
/tsconfig.json

# Other specific files or directories
*.log
*.tmp
*.env
/dist/
.other

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

#reports
/reports/screenshots/
reports/

# Environment variables file
/env/.env
